<form #f="ngForm" (ngSubmit)="onCreate(cancelar)" novalidate>
    <h1 class="h3 mb-3 fw-normal" style="color: red">Nuevo Contacto</h1> 
    <p style="color: red">{{errMsj}}</p>

    <label for="nombre">Link del logo del contacto</label>
    <input type="text" id="imgIcono" name="imgIcono" class="form-control" [(ngModel)]="imgIcono" required>

    <label for="nombre">Link del Contacto</label>
    <input type="url" id="linkIcono" name="linkIcono" class="form-control" [(ngModel)]="linkIcono" required>

    <label for="nombre">Nombre del Contacto</label>
    <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="nombre" required>

    <label for="nombre">Enlace</label>
    <input type="text" id="enlace" name="enlace" class="form-control" [(ngModel)]="enlace" required>

    <div id="bot">
        <a (click)="cancel(cancelar)" class="w-40 btn btn-lg btn-primary">Cancelar</a>
        <ng-template #cancelar let-modal>
            <app-edit-redes></app-edit-redes>
        </ng-template>
        <button class="w-40 btn btn-lg btn-primary" type="submit">Agregar</button>
    </div>
</form>