#fondo{
    background-image: linear-gradient(to bottom right,rgb(77, 0, 0), rgb(177, 0, 0), rgb(48, 0, 0));
}

div{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.targeta{
    align-self: center;
}

