<div class="card mat-card" style="border-radius: 30px;">
    <div class="row">
        <div>
            <h1>Educación:</h1>
            <a href="/#educacion" (click)="open(content)" *ngIf="admin" id="beditar"><i class="fa fa-plus"></i></a>
        </div>
        <ng-template #content let-modal>
            <app-new-educacion></app-new-educacion>
        </ng-template>
        <div>
            <ul>
                <li *ngFor="let educacion of educaciones" class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1" id="logo">
                        <a [href]="educacion.linkIcono" target="_blank"><img [src]="educacion.imgIcono"
                                id="imgcomp"></a>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <h1>{{educacion.nombre}}</h1>
                        <p> ( Inicio: <time> {{educacion.fechainicio}}</time> ) - ( Hasta:
                            <time>{{educacion.fechafin}} )</time></p>

                        <h4> {{educacion.lugar}}</h4>
                        <h5>{{educacion.titulo}}</h5>
                        <p>{{educacion.descripcion}}</p>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1" id="ico">
                        <a href="/#educacion" (click)="openEdit(edit, educacion.id)" *ngIf="admin" id="beditar"><i
                                class="fa fa-pen"></i></a>
                        <ng-template #edit let-modal>
                            <app-edit-educacion></app-edit-educacion>
                        </ng-template>
                        <a href="/#educacion" (click)="open(trash)" *ngIf="admin" id="beditar"><i
                                class="fa fa-solid fa-trash"></i></a>
                        <ng-template #trash let-modal>
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Borrar Registro</h5>
                                    </div>
                                    <div class="modal-body">
                                        !!!!Seguro que quiere eleminar?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" (click)="cancel()"
                                            data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary"
                                            (click)="delete(educacion.id)">Borrar</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>