<div class="card mat-card" style="border-radius: 30px;">
    <div class="contenedor">
        <div>
            <h1>Proyectos:</h1>
            <a *ngIf="admin" (click)="open(content)" id="beditar"><i class="fa fa-plus"></i></a>
        </div>
        <ng-template #content let-modal>
            <app-new-proyecto></app-new-proyecto>
        </ng-template>
        <div id="divP">
            <ul>
                <li *ngFor="let proyecto of proyectosl" class="row" id="sec">
                    <div>
                        <a *ngIf="admin" (click)="openEdit(edit, proyecto.id)" id="beditar"><i class="fa fa-pen"></i></a>
                        <ng-template #edit let-modal>
                            <app-edit-proyecto></app-edit-proyecto>
                        </ng-template>
                        <a *ngIf="admin" id="beditar" (click)="open(trash)" ><i class="fa fa-solid fa-trash"></i></a>
                        <ng-template #trash let-modal>
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Borrar Registro</h5>
                                  </div>
                                  <div class="modal-body">
                                    !!!!Seguro que quiere eliminar?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" (click)="cancel()" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" (click)="delete(proyecto.id)">Borrar</button>
                                  </div>
                                </div>
                              </div>
                        </ng-template>
                        
                        <a [href]="proyecto.github" target="_blank"><img src="../../../assets/img/github.svg" alt=""></a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" id="divP">
                        <h3>{{proyecto.nombre}}</h3>
                        <p>{{proyecto.descripcion}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="divP">
                        <a [href]="proyecto.linkProy" target="_blank"><img [src]="proyecto.imgIcono" alt="" id="imgP"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>