<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   
    <div class="container-fluid" id="fondo">
        <a class="navbar-brand"
            href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
            target="_blank"><img
                src="https://yt3.ggpht.com/9upo5zbtXzvItj8IMHF1X9hI95x4YOeGCApLk1DhMQCHftmJvf2GWmbJXrC1TKCrn-AyQ2txBw=s900-c-k-c0x00ffffff-no-rj"
                id="aplogo"></a>
        <button *ngIf="isLogin" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                </li>
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"></a>
                    </li>
                    <li class="nav-item dropdown" id="rededi">

                        <a *ngIf="isLogin" class="nav-link dropdown-toggle active" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Redes
                        </a><a (click)="open(editRC)" *ngIf="admin"><i class="fa fa-pen" id="beditar"></i></a>
                        <ng-template #editRC let-modal>
                            <app-edit-redes></app-edit-redes>
                        </ng-template>
                        <ul class="dropdown-menu" id="list" aria-labelledby="navbarDropdown">
                            <li *ngFor="let redes of redesList">
                                <a class="dropdown-item" [href]="redes.linkIcono" target="_blank"><img
                                        [src]="redes.imgIcono" id="imgR">{{redes.nombre}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </form>
            <button class="btn btn-danger" type="submit" (click)="onLogOut()" *ngIf="isLogin">Cerrar
                Sesión</button>
        </div>

        <div *ngIf="!isLogin" id="butt">
            <button class="btn btn-danger" type="submit" (click)="open(login)" *ngIf="!isLogin">Login</button>
            <ng-template #login let-modal>
                <app-login></app-login>
            </ng-template>
            <button class="btn btn-danger" type="submit" (click)="open(registre)" *ngIf="!isLogin">Registrarse</button>
            <ng-template #registre let-modal>
                <app-register></app-register>
            </ng-template>
        </div>

    </div>
    
</nav>